@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: #1a1a1a;
}

input,
button { 
  border: none; 
  background: transparent; 
  outline: none; 
}

input:focus,
button:focus {
  outline: none;
  box-shadow: none; 
}

